/* -----------------
First Step
------------------- */
body{
    font-family: 'Roboto', sans-serif;
   margin: 0;
   padding: 0;
}

.first-step{
    border: 2px solid black;
    margin: 3% 15% 12% 15%;
    border-radius: 25px;
    background-color: black;
   
    
}
.banner{
    display: flex;
}
.banner1{
    color: white;
    width: 40%;
    margin-left: 10%;
    margin-top: 2%;
}
.heading-font{
    font-size: 25px;
}
.banner2{
    margin-left: 5%;
  
    
}

.watch-live{
    text-decoration: none;
    color: white;
    border: 1px solid red;
    border-radius: 7px;
    padding: 10px;
    background-color: red;
    margin: 30px;
    
}

/*-----------------------
 2nd Steo using Grid
 -----------------------*/

 
 .ankor-div{
    border: 1px solid black;
    border-radius: 10px;
    width: 20%;
    margin: 4%;
    padding: 25px;
    background-color: black;
    max-height: 170px;
 }
  .um{
      text-decoration: none;
      border: 1px solid black;
      border-radius: 7px;
      background-color: white;
      color: black;
      padding: 10px;
      font: 800;
      margin-left: 10px;
     
  }
  .ag{
    text-decoration: none;
    border: 1px solid black;
      border-radius: 7px;
      background-color: white;
      color: black;
      padding: 10px;
      font: 800;
      margin-left: 40px;
     

  }
  .bl{
    text-decoration: none;
    border: 1px solid red;
      border-radius: 7px;
      background-color: red;
      color: white;
      padding: 10px;
      font: 800;
      margin-left: 57px;
     

  }
 .grid{
    width: 80%;
    

}


.grid-pic{
    width: 70%;
}
 .transfer{
    text-decoration: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    margin-left: 15px;
    color: black;
    font-size: 12px;
 }
 .time-com img{
    font-size: 5px;
    align-items: center;
    width: 15px;
    
 }
 #tc{
    margin-left: 50px;
 }
 .grids{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
   grid-row-gap: 25px;
   margin-left: 10%;  
 }


 
 .secound-step-main-div{
    display:flex ;
      
    
 }


 /* ------------------
 Footer last part
 --------------------  */

 .last{
    margin-top: 100px;
    
 }


 .foot{
    border: 2px solid black;
    background-color:black;
  padding: 8%;
  color: gray;
  text-align: center;
 
    
 }
 .span-foot{
    margin-right: 40px;
    font-size: 10px;
 }
 .foot a{
    margin-right: 25px;

 }
 #hr{
    width: 70%;

 }


 /*----------------------
  part 2 germany vs  
  ----------------------*/
  .grids2{
    border: 1px solid rgb(213, 236, 169);
    width: 80%;
    text-align: center;

    ;
  }
  .secound-web-flex{
    display: flex;
    margin-left: 13px;
    margin-right:10px;
    margin-top: 7px;
    padding: 10px;
  }
  .grids2-main-div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
    width: 100%;
    
  }
  .secound-step-main{
    display: flex;
  }


  /*--------------------
   for mobile media
   ---------------------  */
  @media only screen and (max-width:688px) {
    .first-step{
        width: 100%;

    }
    .banner{
        grid-template-columns: repeat(1, 1fr);

    }
    
  }
  
